<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SalesforceAPI</key>
	<dict>
		<key>ConsumerKey</key>
		<string>YOUR-CONSUMER-KEY-HERE</string>
		<key>RedirectUrl</key>
		<string>YOUR-URL-HERE</string>
	</dict>
</dict>
</plist>
